@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset All Defuakt css   */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    color: #333;
    background-color: antiquewhite;
}

.container{
    max-width: 1440px;
    margin: 10px 20px;
    padding: 10px 20px;
}



.navbar-container{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    padding: 18PX;
    background-color: #bfad92;
    align-items: center;
}

.nav-logo {
    width: 140px;

}
.nav-logo img {
    width: 100%;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.nav-items li a {
    text-decoration: none;
    color: #333;
    font-size: medium;
    font-weight: 600;
}

.nav-social-items ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-social-items a {
    text-decoration: none;
    color: black;
} 

.nav-social-items ul li a i {
    font-size: 1.5rem;
}


.hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-grid{
    display: flex;    
}
.service-card {
    border: 1px solid bisque;
    border-radius: 5px;
    padding: 16px;
    gap: 12px;
    background-color: #bfad92;
    align-items: center;
}

.service-card i {
    font-size: 60px;
}